<hr>

<H2>
<FONT COLOR=red>Explanation of Displays</FONT>
</H2>

These are actual seismograms recorded by the Southern California Seismic Network (SCSN).
Each seismogram shows a magnified record of how the ground
moved over time at a particular seismic station in the southern California.
These seismograms are "read" like a book; time progresses 
from left to right and top to bottom. As with a book, the right end of any horizontal
line "connects" with the left end of the line below it.
The colors of the horizontal lines have no significance except to make it
easier to follow a particular line when large ground motions make it cross the traces above and below.
<P>
The vertical lines are not part of the seismogram but are present
to indicate equal intervals of time. Time is indicated at the left
end of some of the lines in local Pacific time (PST or PDT) and at the right end
of some lines in Universal (or Greenwich) time (UTC).

<P>
When an earthquake occurs, the seismogram will show ground motions that typically last from several tens
of seconds to many minutes depending on the size of the earthquake and the sensitivity of the seismograph.
The height of the recorded waves on the seismogram (wave amplitude) is a greatly magnified representation
of the actual ground motion.  The magnification is 50,000 times or more depending on the site. A recording
of an earthquake has recognizable characteristics. Typically, one can recognize the arrival of different
wave types: P (the fastest traveling waves), S (shear waves), and Surface waves.
<a href="http://earthquake.usgs.gov/monitoring/helicorders/examples/Fore_main_after.php">
Graphical example of seismogram display.</a>.
<P>
On these seismograms you may see local earthquakes in southern California or even earthquakes elsewhere
in the world. Almost any earthquake in the World having a magnitude greater than 5.5 will be seen on these
seismograms. Distant earthquakes will typically have long period waves lasting tens of minutes or more.
<P>
Not all the wiggles seen on the seismograms are due to earthquakes.  Anything that produces ground vibrations
could be recorded, for example passing cars or trains, sonic booms, thunder and ocean waves (this is why we 
try to locate most of our seismometers well away from noise sources). Electronic interference and mechanical
problems with the instruments may also produce signals.
<P>
<P><A HREF="#top">Top of this page</A>
<hr>
<A HREF="http://scsn.org">SCSN home page</A><br>

<A HREF="http://earthquake.usgs.gov/earthquakes/helicorders.php">Seismogram displays from U.S. networks</A>. 
</BODY></HTML>
